/* Layout
---------- */

body {
	background-color: #272727;
	color: white;
	padding: 5vw;
}

main {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: sticky;
	top: 0;
	right: 0;
	width: 85vw;
	background-color: #272727;
	z-index: 1;
}

header div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hgroup {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

article hgroup {
	padding-top: 15px;
}

section {
	width: 85vw;
	padding-bottom: 15px;
}

ul {
	padding-left: 15px;
}

.subheading {
	flex-direction: column;
	& h5, & h6 {
		padding: 4px 0;
	}
}

.skill-list {
	display: flex;
	justify-content: space-around;
	& li {
		list-style: none;
	}
}

.skill {
	padding: 0;
	margin: 0;
}

.rating {
	padding: 0 7vw;
	margin: 0;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 85vw;
	padding-bottom: 30px;
	& img {
		width: 100%;
		opacity: 0.5;
		margin: 5px 0;
		transition: opacity 0.2s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	& a {
		margin: 15px 0;
		font-size: 4vw;
	}
	& span {
		transition: color 0.25s ease;
	}
	& span:hover {
		color: #faa815;
	}
}

/* Styling
---------- */

hr {
	display: block;
}

.divider.thin {
	border: 1px solid rgb(80, 80, 80);
}

.fas.fa-arrow-up {
	color: #faa815;
}

.up-arrow {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

/* Headings
---------- */

.slash:after {
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 3.5vw;
	content: '/';
	padding-right: 5px;
}

.slash.headline:after {
	font: $sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h2, h3, h4, h5, h6 {
	font-family: 'Roboto mono', monospace;
	font-weight: 400;
}

h1 {
	/*font: $sans-serif;*/
	font-family: aktiv-grotesk, sans-serif;
	font-size: 9vw;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline;
}

h1, h3 {
	color: #faa815;
}

h2 {
	padding: 10px 0;
	font-size: 3vw;
}

h3, h4 {
	display: inline-flex;
	font-size: 3.5vw;
	padding-top: 20px;
}

h6 {
	color: #ffe2ad;
	font: $mono-medium;
}

/* Links
------- */

a {
	height: fit-content;
	text-decoration: none;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 3vw;
}

.button {
	cursor: pointer;
	background-color: #272727;
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0;
	transition: all 150ms ease;
	&:before {
		font-family: FontAwesome;
		content: "\f105";
		color: #faa815;
		padding-right: 3px;
	}
	&:hover {
		letter-spacing: 1px;
	}
	&:hover:before {
		color: white;
	}
}

.inline-link {
	font-size: 3.5vw;
	padding: 0 5px;
	color: #faa815;
	transition: color 0.25s ease;
	&:hover {
		color: #ffe2ad;
	}
}

.mail-link {
	color: #faa815;
	transition: color 0.25s ease;
	&:hover {
		color: #ffe2ad;
	}
}

/* Text
------- */

li, p {
	font-family: 'Roboto Mono', monospace;
	font-size: 3vw;
	font-weight: 300;
}

li {
	list-style-type: '- ';
	padding: 3px 0;
}

.no-line {
	list-style: none;
	padding-top: 0;
}


/* Media queries
---------------- */

@media (min-width: 600px) {
	header {
		width: 89vw;
	}

	h1 {
		font-size: 5vw;
	}

	h2 {
		font-size: 2.5vw;
	}

	.slash:after {
		font-size: 3vw;
	}

	.slash.headline:after {
		font-size: 5vw;
	}

	li, p, h5, h6 {
		font-size: 2vw;
	}

	h3, h4 {
		font-size: 3vw;
	}

	.inline-link {
		font-size: 3vw;
		padding: 0 10px;
	}

	.mail-link {
		font-size: 2vw;
	}
}

@media (min-width: 768px) {
	main {
		flex-direction: row;
	}

	section {
		width: 40vw;
	}

	li, p, h5, h6 {
		font-size: 1.5vw;
	}

	h1 {
		font-size: 4vw;
	}

	h2 {
		font-size: 1.5vw;
	}

	h3, h4 {
		font-size: 2.5vw;
	}

	.inline-link {
		font-size: 2.5vw;
	}

	.slash:after {
		font-size: 2.5vw;
	}

	.slash.headline:after {
		font-size: 4vw;
	}

	.rating {
		padding: 0 2.2vw;
	}

	.mail-link, .button {
		font-size: 1.5vw;
	}

	.gallery {
		width: 85vw;
		justify-content: space-between;
		& a {
			width: 45%;
		}
		& img {
			display: block;
		}
		& span {
			display: block;
			font-size: 2vw;
		}
	}
}

@media (min-width: 1200px) {
	section {
		width: 27vw;
	}

	li, p, h5, h6 {
		font-size: 0.85vw;
	}

	h1 {
		font-size: 3vw;
	}

	h2 {
		font-size: 1vw;
	}

	h3, h4 {
		font-size: 1.5vw;
	}

	.inline-link {
		font-size: 1.5vw;
	}

	.slash:after {
		font-size: 1.5vw;
		height: fit-content;
	}

	.slash.headline:after {
		font-size: 3vw;
	}

	.mail-link, .button {
		font-size: 1vw;
	}

	.divider {
		margin-top: 5px;
	}

	.gallery {
		& a {
			width: 30%;
		}
		& span {
			font-size: 1.2vw;
		}
	}
}